.jumbotron {
    margin-top: 70px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../Images/travel.jpg");
    background-size: cover;
    min-height: 40vh;
}

.images {
    padding: 10px;
}

.videos {
    float: left;
}

table, td, th, tr {
    border: 1px solid skyblue;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: royalblue;
}

#recentSearch {
    height: 1000px;
    background-color: lightgray;
}

.caption {
    display: block;
    cursor: pointer;
    text-align: center;
}

.display {
    float: left;
}
.newbuttons{
    margin-left:1px;
}
.trend {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
 }

 #logo {
     font-family: 'Cormorant Garamond', serif;
    color: red;


}

#logo-banner{
    font-family: 'Cormorant Garamond', serif;
    color: red;
    font-size:70px;
}

#slogan{
    font-weight: bold;
}